<!--
    ioBroker.anker-solix VIS / VIS-2 widget set — Energy Home dashboard

    Install: iobroker upload anker-solix
    VIS:     Widget "Energy Home" under set "anker-solix"
    VIS-2:   Same widget set (legacy widget compatibility)
-->
<link rel="stylesheet" type="text/css" href="widgets/anker-solix/css/energy-home.css" />
<script type="text/javascript" src="widgets/anker-solix/js/energy-home.js"></script>

<script
	id="tplAnkerSolixEnergyHome"
	type="text/ejs"
	class="vis-tpl"
	data-vis-set="anker-solix"
	data-vis-name="Energy Home"
	data-vis-update-style="true"
	data-vis-type="energy,static"
	data-vis-prev='<div style="width:640px;height:360px;background:url(widgets/anker-solix/img/dashboard-bg.png) center/cover no-repeat;border-radius:8px"></div>'
	data-vis-attrs="backgroundImage[widgets/anker-solix/img/dashboard-bg.png]/image/anker_background"
	data-vis-attrs0="group.states/anker_group_states;oidPv/id/anker_oid_pv;oidHome/id/anker_oid_home;oidGridImport/id/anker_oid_grid_import;oidGridExport/id/anker_oid_grid_export;oidSoc/id/anker_oid_soc;oidBatCharge/id/anker_oid_bat_charge;oidBatDischarge/id/anker_oid_bat_discharge;oidEv/id/anker_oid_ev;oidDailyPv/id/anker_oid_daily_pv;oidSelfConsumption/id/anker_oid_self"
>
	<div
		class="vis-widget <%== this.data.attr('class') %>"
		style="<%== this.data.attr('style') %>"
		id="<%= this.data.attr('wid') %>"
	></div>
	<% vis.binds['anker-solix'].createWidget(this.data.wid, this.view, this.data, this.style); %>
</script>
